<div class="gorras">
    <h1>Nuestras Gorras</h1>
    <div class="container">
        <div class="column">
            <a class="item" >
                <img src="alpine.png" alt="Foto Gorra">
                <p>Gorra negra con logotipo blanco de estrella estilizada en el frente. Diseño moderno y deportivo. Perfecta para aventuras diarias.</p>
                <button class="custom-button" [routerLink]="'/tienda/pasarela'">
                    Añadir al carrito
                </button>
            </a>
            <a class="item" >
                <img src="gs.png" alt="Foto Gorra">
                <p>Gorra para moteros que duermen en casetas de campaña: ligera, resistente, protege del clima. Acolchada y fácil de transportar. Perfecta para aventuras.</p>
                <button class="custom-button" [routerLink]="'/tienda/pasarela'">
                    Añadir al carrito
                </button>
            </a>
        </div>
        <div class="column">
            <a class="item" >
                <img src="husqvarna.png" alt="Foto Gorra">
                <p>Gorra azul con visera curva, texto "Husqvarna MOTORCYCLES" en blanco. Lateral con diseño de malla azul y verde, logotipo New Era.</p>
                <button class="custom-button" [routerLink]="'/tienda/pasarela'">
                    Añadir al carrito
                </button>
            </a>
            <a class="item" >
                <img src="yamaha.png" alt="Foto Gorra">
                <p>Gorra azul con texto "YAMAHA RACING" en blanco en la parte frontal. Logo blanco al lado, costuras blancas en la visera y paneles.</p>
                <button class="custom-button" [routerLink]="'/tienda/pasarela'">
                    Añadir al carrito
                </button>
            </a>
        </div>
    </div>
</div>