<!-- Concepto de interpolación <h1>Esta es la página de {{titulo}}</p>-->

<h1>Bienvenido a la página {{titulo}} - la página musical del César</h1>
<!-- Declaración de la función de Pulsaciones -->
<button (click)="pulsar()">Púlsame</button>

<!--@if(pulsaciones > 0) {
    <p>Has pulsado el botón {{pulsaciones}} veces</p>
    <button (click)="reset()">Borrado</button>
}
-->
<!--Literal para visualizar el número de pulsaciones-->
<p>Has pulsado el botón {{pulsaciones}} veces</p>
<!--Declaración de la función de Pulsaciones-->
<!--<button (click)="reset()">Borrado</button>-->
<!--Literal para borrar de pulsaciones      
     <p>Has borrado el contador de pulsaciones, ahora es 0</p>  -->
