nav.menu_principal {
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    width: 100%; /* Asegura que el menú ocupe todo el ancho disponible */
}

.menu{
    display: flex;
    justify-content: space-around; /* Centra los elementos horizontalmente */
    width: 100%; /* Asegura que el menú ocupe todo el ancho disponible */

}

.menu button{
    margin: 1rem 5rem; /* Espacio entre los botones */
}

.custom-button.seleccionado {
    background-color: #3FB9ED; /* Cambia el color de fondo cuando está seleccionado */
    color: white; /* Cambia el color del texto */
    border: 2px solid #ffffff; /* Agrega un borde blanco */
}

.custom-button {
    background-color: #40E0D0; /* Color turquesa */
    color: black; /* Texto en negro */
    font-size: 16px; /* Ajusta el tamaño del texto */
    padding: 10px 60px; /* Espaciado interno para hacerlo cómodo */
    border: none; /* Sin borde */
    border-radius: 15px; /* Esquinas redondeadas */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Sombra sutil */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: transform 0.2s ease, box-shadow 0.2s ease; /* Efectos suaves */
    width: 100%;
}
  
.custom-button:hover {
    transform: scale(1.05); /* Hace el botón ligeramente más grande al pasar el cursor */
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3); /* Intensifica la sombra al pasar el cursor */
}
  