<nav class="menu_principal">
    <div class="menu">
        <button class="custom-button" [routerLink]="'/'" [routerLinkActive]="'seleccionado'" [routerLinkActiveOptions]="{exact:true}">
            Inicio
        </button>
        <button class="custom-button" [routerLink]="'/rutas'" [routerLinkActive]="'seleccionado'">
            Nuestras Rutas
        </button>
        <button class="custom-button" [routerLink]="'/tienda'" [routerLinkActive]="'seleccionado'">
            Tienda
        </button>
		<button class="custom-button" [routerLink]="'/galeria'" [routerLinkActive]="'seleccionado'">
			Galería
		</button>
        <button class="custom-button" [routerLink]="'/contacto'" [routerLinkActive]="'seleccionado'">
            Contacto
        </button>
    </div>
</nav>