<footer class="footer">
  <div class="social-icons">
    <p>Desarrollado por:
      <a href="https://github.com/AbrahamQM" target="_blank" aria-label="Github">
        &#64;AbrahamQM
      </a>
      <a href="https://github.com/AbrahamQM" target="_blank" aria-label="Github">
        <img src="github.png" alt="Github">
      </a>
    </p>
    <a href="https://www.instagram.com" target="_blank" aria-label="Instagram">
      <img src="instagram.png" alt="Instagram">
    </a>
    <a href="https://www.facebook.com" target="_blank" aria-label="Facebook">
      <img src="facebook.png" alt="Facebook">
    </a>
    <a href="https://www.twitter.com" target="_blank" aria-label="Twitter">
      <img src="twitter.png" alt="Twitter">
    </a>
  </div>
</footer>