<div class="payment-container">
  <h1>Pagar</h1>
  <img src="credit-cards.png" alt="Visa y Mastercard" class="payment-logo" />
  
  <form class="payment-form">
    <label for="card-number">Número de tarjeta</label>
    <input type="number" id="card-number" placeholder="1234 5678 9012 3456"  oninput="this.value = this.value.slice(0, 16)"/>

    <div class="expiration-cvv">
      <div>
        <label for="expiration">Caducidad</label>
        <div class="expiration-fields">
          <input type="number" id="month" placeholder="01" oninput="this.value = this.value.slice(0, 2)" />
          <input type="number" id="year" placeholder="2030" oninput="this.value = this.value.slice(0, 4)" />
        </div>
      </div>
      <div>
        <label for="cvv">CVV</label>
        <input type="number" id="cvv" placeholder="123" oninput="this.value = this.value.slice(0, 3)" />
      </div>
    </div>

    <label for="amount">Importe</label>
    <div class="amount-display">35,99€</div>

    <button type="submit" class="pay-button" [routerLink]="'/tienda/agradecimiento'">Pagar</button>
  </form>
</div>
