/* Archivo: estilo.css
   Descripción: Hoja de estilos principal para la aplicación web.
*/

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 40px;
    color: #333;
}

h2 {
    color: #0056b3;
}

/* Estilos para formularios*/
form {
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    width: 300px;
    border-radius: 5px;
}

/* Estilos para inputs y botón de formularios*/
input[type="text"],
input[type="password"] {
    width: 95%;
    padding: 8px;
    margin: 5px 0;
}

input[type="submit"] {
    background: #0056b3;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background: #003d80;
}

//estilos para el boton cerrar sesion
a.boton {
    display: inline-block;
    background: #0056b3;
    color: white;
    text-decoration: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 30%;
    text-align: center;
    font-family: inherit;
    font-size: inherit;
    box-sizing: border-box;
}

a.boton:hover {
    background: #003d80;
}