<div class="camisetas">
    <h1>Nuestras Camisetas</h1>
    <div class="container">
        <div class="column">
            <a class="item" [routerLink]="'/camisetas'">
                <img src="camisetaevol.png" alt="Camisetas">
                <p>Camiseta unisex de algodón, disponible en tallas S, M, L y XL. Diseño divertido: simio evolucionando
                    hasta motero. ¡Ideal para amantes de las motocicletas y la evolución!</p>
                <button class="custom-button" [routerLink]="'/pasarela'">
                    Añadir al carrito
                </button>
            </a>

            <a class="item" [routerLink]="'/camisetas'">
                <img src="camisetaharley.png" alt="Camisetas">
                <p>Camiseta unisex de algodón, disponible en tallas S, M, L y XL. Diseño con una moto clásica tipo
                    chopper.
                    ¡Perfecta para los amantes del estilo retro y las motocicletas!</p>
                <button class="custom-button" [routerLink]="'/pasarela'">
                    Añadir al carrito
                </button>
            </a>
        </div>
        <div class="column">
            <a class="item" [routerLink]="'/camisetas'">
                <img src="camisetamorcco.png" alt="Camisetas">
                <p>Camiseta unisex de algodón, disponible en tallas S, M, L y XL. Estampado de motos y el texto
                    'Marruecos'.
                    ¡Perfecta para los aficionados a los viajes y las motos.</p>
                <button class="custom-button" [routerLink]="'/pasarela'">
                    Añadir al carrito
                </button>
            </a>
            <a class="item" [routerLink]="'/camisetas'">
                <img src="camisetamorocco2.png" alt="Camisetas">
                <p>Camiseta unisex de algodón, disponible en tallas S, M, L y XL. Diseño con una moto trail y el texto
                    'Morocco'. ¡Perfecta para los aventureros y amantes de los viajes en motocicleta!</p>
                <button class="custom-button" [routerLink]="'/pasarela'">
                    Añadir al carrito
                </button>
            </a>
        </div>

    </div>
</div>