<nav class="menu_principal">
	<ul>
		<li [routerLinkActive]="['seleccionado']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/']">Inicio</a></li><!--     -->
		<li [routerLinkActive]="['seleccionado']"><a [routerLink]="['/musica']">Música</a></li><!--     -->
		<li [routerLinkActive]="['seleccionado']"><a [routerLink]="['/cine']">Cine</a></li><!--     -->
		<li [routerLinkActive]="['seleccionado']"><a [routerLink]="['/libros']">Libros</a></li><!--     -->
		<li><a>Podcasts</a></li><!--   -->
		<li><a>Contacto</a></li>
	</ul>
</nav>