<h1>Contacta con nosotros</h1>
<form>
    <label for="nombre">Nombre:</label><br>
    <input type="text" id="nombre" name="nombre" placeholder="Pon aquí tu nombre"><br><br>
    
    <label for="correo">Correo:</label><br>
    <input type="text" id="correo" name="correo"><br><br>
    
    <label for="valoracion">¿Te gusta esta página?</label><br>
    <input type="radio" id="valoracion_si" name="valoracion" value="Si">Sí<br>
    <input type="radio" id="valoracion_no" name="valoracion" value="No">No<br>
    <input type="radio" id="valoracion_nsnc" name="valoracion" value="Nsnc">NS/NC<br><br>
    
    <label for="consulta">Consulta:</label><br>
    <textarea id="consulta" name="consulta" rows="4"></textarea><br><br>

    <input type="submit" value="Envía">
</form> 
