<div class="reservas">
  <h1>Reservas Usuario: Pepe Benavente</h1>
  <div class="reservas_container">
    <div class="reservas_container">
        <a class="book-item" [routerLink]="'/detalle'">
            <h3>El Alquimista</h3>
            <p>Paulo Coelho</p>
            <img src="alquimista.jpg" alt="El Alquimista">
        </a >
        <a class="book-item" [routerLink]="'/detalle'">
            <h3>1984</h3>
            <p>George Orwell</p>
            <img src="1984.jpg" alt="1984">
        </a >
    </div>
    <div class="reservas_container_card" >
        <h2>Reserva: El principito</h2>
        <p>Fecha entrega: 15/02/2025 </p>
        <p>Telefono: 666 666 666</p>
      </div>
</div>
