<div class="container">
    <div class="texts">
        <h1>Bienvenidos a Rutas en Moto</h1>
        <p>
            Descubre la emoción de la carretera con nosotros.
            En Rutas en Moto, somos apasionados por la aventura y la libertad que solo una moto puede ofrecer. Nos
            dedicamos a brindarte experiencias únicas y emocionantes, ya sea que estés buscando una nueva ruta por
            descubrir, el equipo perfecto para tu viaje, o simplemente disfrutar de nuestras impresionantes fotografías
            en nuestra galería.
            ¿Qué ofrecemos?
            Rutas Inolvidables: Organizamos rutas guiadas y autoguiadas que recorren los paisajes más espectaculares.
            Desde escapadas de fin de semana hasta aventuras de larga distancia, tenemos algo para todos los niveles de
            experiencia.
            Tienda de Equipamiento: Encuentra todo lo que necesitas para tu próxima aventura en moto. Desde cascos y
            chaquetas hasta accesorios y repuestos, nuestra tienda está equipada con productos de la mejor calidad para
            asegurarte un viaje seguro y cómodo.
            Galería de Imágenes: Sumérgete en la belleza de nuestras rutas a través de nuestra galería de fotos.
            Disfruta de las imágenes capturadas por nuestros expertos fotógrafos, que reflejan la emoción y la
            majestuosidad de cada viaje.
            Eventos y Comunidades: Únete a nuestra comunidad de amantes de las motos. Participa en nuestros eventos,
            conoce a otros motociclistas y comparte tus propias historias y experiencias.
            Explora. Equípate. Conecta.
            En Rutas en Moto, tu próxima aventura sobre dos ruedas empieza aquí.
        </p>
    </div>
    <div class="photo-frame">
        <img src="/ruta-moto-1_baja 1.png" alt="Motos en ruta" >
    </div>
</div>