<div class="container">
    <div class="img-left-container">
        <img class="top-image img-ruta" src="/rutas/himalaya.png" alt="Himalaya">
        <img src="/rutas/thailandia.png" alt="Tailandia" class="img-ruta">
    </div>
    <div class="text-container">
        <p class="text">¡Embárcate en una aventura épica por el majestuoso Himalaya! Disfruta de paisajes
            impresionantes,
            desafiantes caminos y la tranquilidad de las montañas. Nuestra ruta guiada incluye alojamiento, guías
            expertos y
            una experiencia cultural inolvidable. No te pierdas esta oportunidad única de explorar uno de los lugares
            más
            espectaculares del mundo en tu motocicleta. ¡Reserva ahora y vive la aventura de tu vida!</p>
        <p class="text">Explora la exótica belleza de Marruecos en una emocionante ruta en moto. Desde las dunas doradas
            del
            Sahara hasta las vibrantes medinas, cada kilómetro es una aventura única. Disfruta de paisajes
            deslumbrantes,
            encuentros culturales y la hospitalidad marroquí. Nuestra ruta guiada asegura una experiencia segura y
            enriquecedora. ¡Reserva hoy y vive la magia de Marruecos sobre dos ruedas!</p>
        <p class="text" id="last-text">Embárcate en una aventura inolvidable por Tailandia en moto. Recorre templos antiguos, playas
            paradisíacas y exuberantes selvas tropicales. Sumérgete en la rica cultura tailandesa y disfruta de su
            deliciosa
            gastronomía. Nuestra ruta guiada te ofrece seguridad, comodidad y experiencias auténticas. ¡Reserva ahora y
            descubre la magia de Tailandia sobre dos ruedas!</p>
    </div>
    <div class="img-right-container">
        <img src="/rutas/marruecos.png" alt="Marruecos" class="img-ruta">
    </div>
</div>