.container {
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: stretch; /* Asegura que los elementos hijos ocupen toda la altura */
    height: 100%;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; /* Distribuye los elementos verticalmente */
    align-items: center;
    width: 33%; /* Ocupa un tercio del ancho */
    height: 100%; /* Ocupa el 100% de la altura del contenedor padre */
    padding: 20px;
    /* background-color: green; Para verificar visualmente */
}

p{
    width: 80%;      
    height: auto;
    /* background-color: #f0f0f0; Para verificar visualmente */
}

.text{ 
    margin-top: 20%;
    margin-bottom: 20%;
} 

.img-left-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 100%;
    padding: 20px;
    /* background-color: blue; Para verificar visualmente */

}

.img-right-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 100%;
    margin-top: 20%;
    padding: 20px;
    /* background-color: blue; Para verificar visualmente */
}

img{
    width: 80%;
    border-radius: 20px;
    object-fit: contain; /* Ajusta la imagen para que quepa dentro del espacio manteniendo las proporciones */
}

.img-left-container img.top-image {
    margin-bottom: 80%; /* Aplica el margen inferior a la imagen con clase top-image */
}