.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50rem;
}

.container_inf{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.texts {
    width: 50%;
    padding: 8rem;
}

.photo-frame{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    overflow: hidden;
    border-radius: 30%;
    margin-right: 8rem;
}

img {
    object-fit: cover;
    width: 100%;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80rem;
    height: 7rem;
    border-radius: 2rem;
    margin: 2rem;
    background-color: #9E90A2;
}

.search-input{
    width: 20rem;
    padding: 0.5rem;
}

.search-button{
    width: 2.5rem;
    margin-left: 1.5rem;
}

.book-list{
    display: flex;
    margin: 6rem;
    padding: 3rem;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.book-item:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
}
