<div class="video-gallery">
    <div class="video-container">
        <h1>Ruta Tailandia</h1>
        <iframe 
            class="video-frame"
            src="https://www.youtube.com/embed/cJaXaSz4poY?enablejsapi=1"
            width="448"
            height="252"
            title="Thailand iconic"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
    </div>
    <div class="video-container">
        <h1>Ruta Marruecos</h1>
        <iframe 
            class="video-frame"
            src="https://www.youtube.com/embed/Kb572AALRHM?enablejsapi=1"
            width="448"
            height="252"
            title="Marruecos iconic"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
    </div>
    <div class="video-container">
        <h1>Ruta Himalaya</h1>
        <iframe 
            class="video-frame"
            src="https://www.youtube.com/embed/hHkad5cXGXI?enablejsapi=1"
            width="448"
            height="252"
            title="Himalaya iconic"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
    </div>
</div>