<div class="book-details">
    <h1>El Alquimista</h1>
    <img src="alquimista.jpg" alt="El Alquimista" class="book-image">
    <button class="custom-button" [routerLink]="'/reservas'">
        Reservar
    </button>
    <div class="book-info">
        <h2>Detalles del libro</h2>
        <p><strong>Autor:</strong> Paulo Coelho</p>
        <p><strong>Género:</strong> Novela narrativa, ficción</p>
        <p><strong>Fecha de publicación:</strong> 1988</p>
        <p><strong>Editorial:</strong> Companhia das Letras</p>
        <p><strong>Idioma original:</strong> Portugués</p>
    </div>
    <p>
        El alquimista (novela)

        Artículo
        Discusión
        Leer
        Editar
        Ver historial

        Herramientas
        Apariencia ocultar
        Texto

        Pequeño

        Estándar

        Grande
        Anchura

        Estándar

        Ancho
        Color (beta)

        Automático

        Claro

        Oscuro

        En este artículo sobre literatura se detectaron varios problemas. Por favor, edítalo y/o discute los problemas
        en la discusión para mejorarlo:
        No tiene una redacción neutral. Por favor, modifica los párrafos o secciones que muestran un punto de vista
        parcial en concordancia con lo esperado en una enciclopedia.
        Su redacción actual parece estar escrita desde el punto de vista de un fanático o aficionado en vez de mantener
        una redacción neutral.
        Por favor, discute este problema en la discusión.
        Este aviso fue puesto el 10 de marzo de 2022.
        El alquimista
        de Paulo Coelho

        Portada edición española, Editorial Planeta, 2017
        Género Novela narrativa, ficción
        Subgénero Ficción de aventuras y literatura fantástica Ver y modificar los datos en Wikidata
        Edición original en portugués Ver y modificar los datos en Wikidata
        Título original O Alquimista
        Cubierta Caravaggio Ver y modificar los datos en Wikidata
        Editorial Companhia das Letras Ver y modificar los datos en Wikidata
        País Brasil Ver y modificar los datos en Wikidata
        Fecha de publicación 1988 Ver y modificar los datos en Wikidata
        Edición traducida al español
        Título El alquimista
        Traducido por Monserrat Mira
        Editorial Editorial Planeta y Penguin Random House
        Fecha de publicación 1991
        Serie
        El peregrino Ver y modificar los datos en Wikidata El alquimista Brida y La quinta montaña Ver y modificar los
        datos en Wikidata
        [editar datos en Wikidata]
        El alquimista (O Alquimista, 1988) es una novela escrita por el escritor brasileño Paulo Coelho. Fue traducida a
        88 lenguas y publicada en más de 170 países con más de 85 millones de copias en todo el mundo.[1]​

        Según el periódico estadounidense The New York Times, El alquimista ha consolidado a Paulo Coelho como uno de
        los autores vivos más traducidos del mundo.[2]​ La novela tiene más de 2 millones de valoraciones en Goodreads.

        Con motivo del vigésimo aniversario de la publicación de la novela, se celebró un homenaje en el Teatro Palacio
        Valdés de Avilés, organizado por el Centro Cultural Internacional Oscar Niemeyer, con la presencia de Paulo
        Coelho, y, al mismo tiempo, se organizó una exposición conmemorativa sobre El alquimista, que viajó a varias
        ciudades como Milán, Helsinki, Fráncfort y Bogotá.
    </p>
</div>